DU1_Lucistnik/obj/DU1_Lucistnik.csproj.nuget.dgspec.json
DU1_Lucistnik/obj/DU1_Lucistnik.csproj.nuget.g.props
DU1_Lucistnik/obj/DU1_Lucistnik.csproj.nuget.g.targets
DU1_Lucistnik/obj/project.assets.json
DU1_Lucistnik/obj/project.nuget.cache
DU1_Lucistnik/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
DU1_Lucistnik/obj/Debug/net8.0/DU1_Lucistnik.AssemblyInfo.cs
DU1_Lucistnik/obj/Debug/net8.0/DU1_Lucistnik.AssemblyInfoInputs.cache
DU1_Lucistnik/obj/Debug/net8.0/DU1_Lucistnik.assets.cache
DU1_Lucistnik/obj/Debug/net8.0/DU1_Lucistnik.GeneratedMSBuildEditorConfig.editorconfig
DU1_Lucistnik/obj/Debug/net8.0/DU1_Lucistnik.GlobalUsings.g.cs
.vscode/settings.json
DU1_Lucistnik/obj/Debug/net8.0/apphost.exe
DU1_Lucistnik/obj/Debug/net8.0/DU1_Lucistnik.csproj.CoreCompileInputs.cache
DU1_Lucistnik/obj/Debug/net8.0/DU1_Lucistnik.csproj.FileListAbsolute.txt
DU1_Lucistnik/obj/Debug/net8.0/DU1_Lucistnik.dll
DU1_Lucistnik/obj/Debug/net8.0/DU1_Lucistnik.genruntimeconfig.cache
DU1_Lucistnik/obj/Debug/net8.0/DU1_Lucistnik.pdb
DU1_Lucistnik/obj/Debug/net8.0/DU1_Lucistnik.sourcelink.json
DU1_Lucistnik/obj/Debug/net8.0/ref/DU1_Lucistnik.dll
DU1_Lucistnik/obj/Debug/net8.0/refint/DU1_Lucistnik.dll
DU1_Lucistnik/bin/Debug/net8.0/DU1_Lucistnik.deps.json
DU1_Lucistnik/bin/Debug/net8.0/DU1_Lucistnik.dll
DU1_Lucistnik/bin/Debug/net8.0/DU1_Lucistnik.exe
DU1_Lucistnik/bin/Debug/net8.0/DU1_Lucistnik.pdb
DU1_Lucistnik/bin/Debug/net8.0/DU1_Lucistnik.runtimeconfig.json
